<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title  layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">EDIRO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  th:href="@{/handsontable_7_0_3/handsontable.full.min.css}" media="screen" />
 
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"  />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
     <style type="text/css">
        body { font-family: Arial, "맑은 고딕" ; }
		input.htCheckboxRendererInput{ margin: 3; }
		.currentRow {
		    background-color: #E7E8EF !important;
		}
		.currentCol {
		  background-color: #E7E8EF !important;
		}

	</style>
</head>

<body>

 <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3 th:text ="${#authentication.principal.member.companyName}"></h3>
      </div>

      <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
              <ul class="collapse show list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="/publisher/main">도서조회</a>
                  </li>
                  <li>
                      <a href="/publisher/addBook">도서추가</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
  
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
  			
          </div>
      </nav>
      <div layout:fragment="content"></div>
      
    
  </div>
	
	 <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	 	 <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" ></script>
	 <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" ></script>
     <script th:src="@{/handsontable_7_0_3/handsontable.full.min.js}" ></script>
  
   	 <script>
   //<![CDATA[
		    $(document).ready(function () {
		
			    $('#sidebarCollapse').on('click', function () {
			        $('#sidebar').toggleClass('active');
			    });
		
		    });
		    
		    var token = $('#_csrf').attr('content');
		    var header = $('#_csrf_header').attr('content');
			  //]]>
    </script>
<th:block layout:fragment="script"></th:block>

</body>

</html>