<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>EDIRO</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  th:href="@{/handsontable_7_0_3/handsontable.full.min.css}" media="screen" />
 
 	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
   
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"  />
     <style type="text/css">
        body { font-family: Arial, "맑은 고딕" ; }
		input.htCheckboxRendererInput{ margin: 3; }
		.currentRow {
		    background-color: #E7E8EF !important;
		}
		.currentCol {
		  background-color: #E7E8EF !important;
		}

	</style>
</head>

<body>

<div class="header" style="padding:0px;">
<div class="header-inner">
	<nav class="navbar navbar-expand-lg navbar-light p-0 " >
	  <h1><a class="navbar-brand pl-5" href="/"><img th:src="@{/img/logo-large.png}" alt="TimeSwitch" width="250" height="33"></a></h1>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li>
	      <li class="nav-item">
			<div  sec:authorize="isAuthenticated()">
				  <form method="post" th:action="@{/logout}" id="my_form">
				            <input type="hidden" th:name="${_csrf.parameterName}"
				                   th:value="${_csrf.token}" />
				            <a href="#" class="nav-link" onclick="document.getElementById('my_form').submit(); return false;">로그아웃</a>
				  </form>
			</div>
			
			<div  sec:authorize="!isAuthenticated()">
				<a href="/login">로그인</a>
			</div>
			</li>
	    </ul>
	   
	  </div>
	</nav>
</div>
</div>
      
      <div class="" layout:fragment="content"></div>
      
    <footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
		<p>Copyright &copy; TimeSwitch</p>
		</div>
	</div>
	</footer>

	 <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	 <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" ></script>
	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	 <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}" ></script>
     <script th:src="@{/handsontable_7_0_3/handsontable.full.min.js}" ></script>
  
   	 <script>
   //<![CDATA[
		
		    var token = $('#_csrf').attr('content');
		    var header = $('#_csrf_header').attr('content');
			  //]]>
    </script>
<th:block layout:fragment="script"></th:block>

</body>

</html>