<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout/layout_bstore_basic}">

<head>
    <meta charset="utf-8">
  
    <style type="text/css">
		input.htCheckboxRendererInput{ margin: 3; }
		
	
body {overflow-x: hidden;}
		/* ---------- book list --------------*/  
		ul.booklist{
			list-style-type:none;
			margin:0px;
			padding:0px;
		}
		
		li.bookitem{
			padding: 10px 0px 10px 0px;
		    border-bottom:1px solid #d1d1d1;
		}
		
		div.cover {
			float:left;
			width:115px;
			height:154px;
		}
		  img.cover{
		    	width:115px;
		    	height:154px;
		    }
		/*div.bookinfo{
		
			width:100%;
			margin:0 0 0 130px;
		    padding-top:20px;
			
		}
		
		div.bookdetail::after{
		  content: "";
		  display: block;
		  clear: both;
		}
		
		div.bookdetail a{
			font-size:16px;
		}
		div.bookdetinfo {
			padding:5px 0 10px 0;
			font-size:13px;
		}
		*/
		div.navarea{
			margin-top:5px;
		}
		
		.button {
		  background-color: #4CAF50; /* Green */
		  border: none;
		  color: white;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		}
		
		.cartButton {
		 padding: 10px 24px;
		}
		
		/* ---------- book list --------------*/
	</style>
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
  </head>

<body>
 <section layout:fragment="content">

<!-- <h3 sec:authentication="name">Spring security username</h3>
<h3>[[${#authentication.name}]]</h3>-->

<div class="container">


 			<div class="row justify-content-center">
			 	<form id='f1' class="form-horizontal  col-md-12 " th:action="@{bookList}" method="get" autocomplete="off">
	   					   <div class="form-group row">
							    <label for="barcode" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">ISBN(ISSN)</label>
							    <div class="col-lg-2 col-md-12">
							    	<input type="text" class="form-control form-control-sm" id="barcode" name="barcode" maxlength="13" th:value=${book.barcode}>
							    </div>
					   
							    <label for="bookTitle" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">도서명</label>
							    <div class="col-lg-6 col-md-12">
							    	<input type="text" class="form-control form-control-sm" id="bookTitle" name="bookTitle" th:value=${book.bookTitle} >
						 		</div>
						  </div>
									  
							
						     <div class="form-group row" >
								  
								  <label for="publisher" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">출판사</label>
								   <div class="col-lg-4 col-md-12">
									    <input type="text" class="form-control form-control-sm" id="publisher" name="publisher" th:value=${book.publisher}>
							       </div>
							  
								   <label for="author"class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">저자명</label>
								   	  <div class="col-lg-4 col-md-12">
									    <input type="text" class="form-control form-control-sm" id="author" name="author" th:value=${book.author} >
						    		</div>
								  
							</div>
								<div class="row justify-content-start">
									  		 <div class="form-group col-md-8">
									  		 	<button id="searchBtn">도서 검색</button>
									   		    <button id="clearSchBtn">초기화</button>
									   		 </div>
								</div>
							
								<input type='hidden' name='page' th:value=${booklist.currentPageNum}>
								<input type='hidden' name='size' th:value=${booklist.currentPage.pageSize}>
							
				</form>
		  	 </div>
		  	 <div  class="row justify-content-center">
			  	 <ul class="list-group  col-12">
			  	 	<li class="list-group-item"  th:each="book:${booklist.listcontent}">
			  	 	    <div class="row">
			  	 	     	<div class="col-4 col-sm-2"><img class="cover" th:src="@{${'/bookImages/'+book.barcode+'.jpg'}}" onerror="this.src='../img/img_ready.png';" /></div>
			  	 	    	<div class="col-8 col-sm-10">
						  	 	<div class="booktitle  col-12  text-wrap"><a href="#" ><strong>[[${book.bookTitle}]]</strong></a></div>
						  	 	<div class="bookdetinfo col-12 text-wrap">
						  	 		<span>[[${book.publisher}]]</span> |
							  	 	<span>[[${book.author}]]</span> |
							  	 	<span>[[${#numbers.formatInteger(book.price,3,'DEFAULT')+'원'}]]</span> |
							  	 	<span>[[${book.pubDate}]]</span> |
							  	 	<img src="../img/shopping-cart.png"/>&nbsp;<span class='badge badge-primary' th:id="'span_'+${book.bookCode}">[[${book.orderQty}]]</span>
							  	</div>
							  	<div class="cart col-12">
							  	수량:
							  	<input type="text" th:id="'inputQty_'+${book.bookCode}" style="width:50px" value = "1"/> &nbsp;&nbsp;
							  	<Button  th:if="${book.bookstatus == T(com.ediro.domain.BookStatus).GOOD }" class="button cartButton" th:onclick="'addBascket(\'' + ${book.bookCode} + '\');'"  >카트에  넣기</Button> 
							  	<span th:unless="${book.bookstatus == T(com.ediro.domain.BookStatus).GOOD }" style="color:red;" th:text="${book.bookstatus.code}"></span>
							  	</div>
							  	<div>
							  	 	<span th:id="'spanDisPct_'+${book.bookCode}" th:if="${book.cusPercent} > 0" style="color:blue;font-size:10pt;" th:text="'할인율:'+${book.cusPercent}+'%'"></span>
									<span th:id="'spanDisPct_'+${book.bookCode}" th:unless="${book.cusPercent} > 0" style="color:blue;font-size:10pt;" th:text="'할인율:'+${book.dcPercent}+'%'"></span>
							  		
							  	</div>
					  	 	</div>
				  	 	</div>
			  	 	</li>
			  	 </ul>
		  	 </div>
		  	 <div class="row col-md-12 justify-content-center">
		  		 <nav>
					   	
			
							<div>
				
								<ul class="pagination">
									<li class="page-item" th:if="${booklist.prevPage}"><a class="page-link"
										th:href="${booklist.prevPage.pageNumber} + 1">PREV
											[[${booklist.prevPage.pageNumber} + 1]]</a></li>
				
									<li class="page-item"
										th:classappend="${p.pageNumber == booklist.currentPageNum -1}?active: '' "
										th:each="p:${booklist.pageList}"><a class="page-link"
										th:href="${p.pageNumber} +1">[[${p.pageNumber} +1]]</a></li>
				
									<li class="page-item" th:if="${booklist.nextPage}"><a class="page-link"
										th:href="${booklist.nextPage.pageNumber} + 1">NEXT
											[[${booklist.nextPage.pageNumber} + 1]]</a></li>
								 </ul>
							</div>
								
					</nav>
			</div>
 
</div>
</section>			
<th:block layout:fragment="script">
	<script th:inline="javascript">
/*	function addArayBascket(bookCode)
	{
	    var arrBookItem = new Array();
	    var i = $('#inputQty_'+bookCode).val();
		 var objBookItem = {basket_id:0,book_code:bookCode,orderQty:i};
		    
		    arrBookItem.push(objBookItem);
		   
		    addBascket(arrBookItem);
	}
	
	function addBascket(arrBookItem)
	{
		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
		console.log(arrBookItem);
	    $.ajax({
		        url: '/bookOrder/saveBasket',
		        type: 'post',
		        contentType : "application/json; charset=UTF-8",
		        data:JSON.stringify({listBascket: arrBookItem}),
		        async: true,
		         beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        	
		        }
		    });
	}
	*/
	
	
	function addBascket(bookCode)
	{
		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	   
	    var i = $('#inputQty_'+bookCode).val();
	    var dcpct = $('#spanDisPct_'+bookCode).text().replace("%","").replace("할인율:","");
	    
	    var objBookItem = {mid:0,book_code:bookCode,orderQty:i,salePercent:dcpct};
		console.log(objBookItem);
	    $.ajax({
		        url: '/bookOrder/saveBasketOne',
		        type: 'post',
		        contentType : "application/json; charset=UTF-8",
		        data:JSON.stringify(objBookItem),
		        async: true,
		         beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        	var retval = eval(res);
		        	var oqty = retval.orderQty;
		        	 $('#span_'+bookCode).text(oqty);
		        	alert("카트에 저장되었습니다");
		        }
		    });
	}
	
	var formObj = $("#f1");
	
	$(".pagination a").click(function(e) {
	
		e.preventDefault();
	
		formObj.find('[name="page"]').val($(this).attr('href'));
	
		formObj.submit();
	});
	
	$("#searchBtn").click(function(e){
		
		formObj.find("[name='page']").val("1");
		formObj.submit();
	});
	
	$("#clearSchBtn").click(function(e){
		
		formObj.find("[name='page']").val("1");
		formObj.find("[name='barcode']").val("");
		formObj.find("[name='bookTitle']").val("");
		formObj.find("[name='author']").val("");
		formObj.find("[name='publisher']").val("");
		formObj.submit();
	});

	</script>
</th:block>
</body>

</html>