<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout/layout_bstore_basic}">

<head>
    <title>관리용</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
		input.htCheckboxRendererInput{ margin: 3; }
	</style>
  </head>

<body>
 <section layout:fragment="content">
<h1>/bookStore for bookStore</h1>
<hr />
<h3 sec:authentication="name">Spring security username</h3>
<h3>[[${#authentication.name}]]</h3>

<hr />
<div id="example"></div>
<button onclick="javascript:loadData();">load</button>
  <!-- Modal -->
			<div class="modal" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
	       </div>	
	       
</section>


<th:block layout:fragment="script">
<script th:inline="javascript">
var fRow,fCol;

var hot = new Handsontable(example, {
	  rowHeaders: true,
	  colHeaders: true,
	  colHeaders: ['bookCode', '도서명', '바코드', '저자','출판사','정가'],
	  startRows: 1,
	  startCols: 6,
	  fillHandle:false,
	  selectionMode: 'single',
	  columns: [
				    {data: 'bookCode',},
				    {data: 'bookTitle'},
				    {data: 'barcode'},
				    {data: 'author'},
				    {data: 'publisher'},
				    {data: 'price', type: 'numeric',numericFormat:{pattern: '0,0'}},
				    {type: 'checkbox',checkedTemplate: '1',uncheckedTemplate: '0'}
		   		],
 		hiddenColumns: {
 		    columns: [0],
 		    indicators: true
 		  },
 		 afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
 			 fCol = column;
 		 	fRow = row;
 		  },
     beforeKeyDown:function(event){
    	
    	if(event.keyCode == 13)
    		{
    		    hot.deselectCell();
    			$('#exampleModal').modal('show');
    			
    		}
     }
	 });
	 
function loadData() {
    $.ajax({
        url: '/bookOrder/booklist',
        type: 'get',
        dataType: 'json',
        async: true,
        success: function(res) {
        	 hot.loadData(res);
        }
    });
}

	
	

</script>

<script th:inline="javascript">
$('#exampleModal').html('<div class="modal-dialog modal-dialog-centered" role="document"> \
		  <div class="modal-content"> \
			<div class="modal-header"> \
	        <h5 class="modal-title" id="exampleModalLabel">ediro</h5> \
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
	          <span aria-hidden="true">&times;</span> \
	        </button> \
		      </div> \
		      <div class="modal-body"> \
		       <input type="text" id="inputTest" name="inputTest" class="form-control text-uppercase" placeholder="Descripci&oacute;n" autofocus/> \
		      </div> \
		      <div class="modal-footer"> \
		        <button type="button" id="btnCloseMdl" class="btn btn-secondary" data-dismiss="modal">Close</button> \
		      </div> \
		    </div> \
		  </div> \
		</div>');

$('#exampleModal').on('hidden.bs.modal', function () {
	hot.selectCell(fRow, fCol);
});

$('#exampleModal').on('shown.bs.modal', function () {
    $('#inputTest').focus();
});
</script>
 
   
</body>

</html>