<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout/layout_bstore_basic}">

<head>
    <title>관리용</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
		input.htCheckboxRendererInput{ margin: 3; }
	</style>
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
  </head>

<body>
 <section layout:fragment="content">
<h1>/bookStore for bookStore</h1>
<hr />
<h3 sec:authentication="name">Spring security username</h3>
<h3>[[${#authentication.name}]]</h3>

<hr />
<div id="example"></div>
<button onclick="javascript:loadBasket();">basketLoadTest</button>
  <!-- Modal -->
		   <div class="modal" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog"   aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-xl"> 
				  <div class="modal-content"> 
					<div class="modal-header modal-xl"> 
				        <h5 class="modal-title" id="exampleModalLabel">ediro</h5> 
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
				          <span aria-hidden="true">&times;</span> 
				        </button>
				    </div> 
				      <div class="modal-body modal-xl"> 
				       <div class="row justify-content-start" >
				     
						   <div class="form-group col-md-4">
					       		<input type="text" autocomplete="off" class="form-control form-control-sm" id="inputBookTitle" name="inputBookTitle"  />
				           </div>
					  	   <div class="form-group col-md-4">
					       		<input type="text" autocomplete="off" class="form-control form-control-sm" id="txtBarcode" name="txtBarcode" placeHolder="ISBN" />
				           </div>
				             <div class="form-group col-md-2">
				           <button id="searchBtn">search</button>
				           </div>
				      
				       </div> 
				        <div >
				       <div id="divBookSch"></div>
				       </div>
				      </div>
				      <div class="modal-footer modal-xl"> 
				        <button type="button" id="btnCloseMdl" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div> 
				    </div> 
				  </div> 
	       </div>	
	  
</section>


<th:block layout:fragment="script">
<script th:inline="javascript">

function editColRenderer(instance, td, row, col, prop, value, cellProperties) {
	  Handsontable.renderers.TextRenderer.apply(this, arguments);
	  td.style.background = '#FFFFE0';
	}
var fRow,fCol;

var hot = new Handsontable(example, {
	 licenseKey: 'non-commercial-and-evaluation',
	  rowHeaders: true,
	  colHeaders: true,
	  colHeaders: ['선택','bookCode', '도서명', '바코드', '저자','출판사','정가','주문수'],
	  startRows: 1,
	  startCols: 8,
	  fillHandle:false,
	  currentRowClassName: 'currentRow',
	  manualColumnResize: true,
	  selectionMode: 'single',
	  rowHeights: 25,
	  columns: [
		  			{type: 'checkbox',checkedTemplate: '1',uncheckedTemplate: '0',width:30},
				    {data: 'bookCode',readOnly:true},
				    {data: 'bookTitle',width:450},
				    {data: 'barcode',readOnly:true},
				    {data: 'author',readOnly:true,width:150},
				    {data: 'publisher',readOnly:true},
				    {data: 'price', type: 'numeric',numericFormat:{pattern: '0,0'},readOnly:true,width:100},
				    {data: 'qty', type: 'numeric',numericFormat:{pattern: '0,0'},width:80,className:"htRight"}
		   		],
 		hiddenColumns: {
 		    columns: [1],
 		    indicators: true
 		  },
 		 cells: function (row, col) {
 		    var cellProperties = {};
 		    if(col == 2 || col ==7)
 		    	{
 		    	cellProperties.renderer = editColRenderer;
 		    	}
 		   return cellProperties;
 		 },
 		 afterSelection:function(row, column, row2, column2, preventScrolling, selectionLayerLevel){
 			 fCol = column;
 		 	fRow = row;
 		 
 		  },
 	 beforeKeyDown:function(event){
    	
    	if(event.keyCode == 13 && fCol==2)
    		{
    		   hot.deselectCell();
    		   var data = hot.getDataAtCell(fRow,fCol);
    		   $('input[name=inputBookTitle]').val(data);
    			$('#exampleModal').modal('show');
    			 
    			//event.preventDefault();
    			event.stopPropagation();
    		}
    	else if(event.keyCode == 13 && fCol==7)
    		{	//event.preventDefault();
    		    event.stopImmediatePropagation();
    			//event.stopPropagation();
    			//console.log("ffffRow:" + fRow);
    			hot.selectCell(hot.countRows()-1,2);
    			
    		}
     }
	 });
	 

    function loadBasket() {
        $.ajax({
            url: '/bookOrder/listBasket',
            type: 'get',
            dataType: 'json',
            async: true,
            success: function(res) {
            	 hot.loadData(res);
            }
        });
};


	
	

</script>

<script th:inline="javascript">
var vCol=0,vRow=0;

var datahot =  {
		  licenseKey: 'non-commercial-and-evaluation',
		  height:400,
		  rowHeaders: true,
		  colHeaders: true,
		  colHeaders: ['선택','bookCode', '도서명', '바코드', '저자','출판사','정가'],
		  startRows: 0,
		  startCols: 6,
		  fillHandle:false,
		  currentRowClassName: 'currentRow',
		  manualColumnResize: true,
		  selectionMode: 'single',
		  columns: [
			 			{data: 'chk',type: 'checkbox',checkedTemplate: '1',uncheckedTemplate: '0'},
					    {data: 'bookCode',readOnly:true},
					    {data: 'bookTitle',readOnly:true},
					    {data: 'barcode',readOnly:true},
					    {data: 'author',readOnly:true},
					    {data: 'publisher',readOnly:true},
					    {data: 'price', type: 'numeric',numericFormat:{pattern: '0,0'},readOnly:true}
					   
			   		],
			hiddenColumns: {
			    columns: [1],
			    indicators: true
			  },
			  afterSelection:function(row, column, row2, column2, preventScrolling, selectionLayerLevel){
		 			 vCol = column;
		 		 	vRow = row;
		 		  },
		 		
		     beforeKeyDown:function(event){
		    	
			    	if(event.keyCode == 13)
			    		{
			    		    var arrData = hotBookSch.getSourceData();
			    		    var arrBookItem = new Array();
			    		    
			    		    var chkArrData = arrData.filter(function(data){return data.chk == '1';});
			    		    console.log(chkArrData);
			    		    
			    		    var tRow =  fRow;
			    		  
			    		    if(chkArrData.length > 0)
			    		    {
			    		    	chkArrData.forEach(function(item){
			    		    		
			    		    		console.log(item["bookCode"]);
			    		    		hot.setDataAtCell(tRow,0,'0');
					    		    hot.setDataAtCell(tRow,1,item["bookCode"]);
					    		    hot.setDataAtCell(tRow,2,item["bookTitle"]);
					    		    hot.setDataAtCell(tRow,3,item["barcode"]);
					    		    hot.setDataAtCell(tRow,4,item["author"]);
					    		    hot.setDataAtCell(tRow,5,item["publisher"]);
					    		    hot.setDataAtCell(tRow,6,item["price"]);
					    		    hot.setDataAtCell(tRow,7,1);
					    		   
					    		    var objBookItem = {basket_id:0,book_code:item["bookCode"],orderQty:1};
					    		    
					    		    arrBookItem.push(objBookItem);
					    		    
					    		    tRow+=1;
			    		    	})
			    		    	
			    		    	 hot.selectCell(tRow-1,7);
			    		    	 hot.alter('insert_row', tRow, 1);
			    		    	
			    		    	
			    		    	 $('#exampleModal').modal('toggle');
			    		    	 event.stopPropagation();
			    		    	 
			    		    	 //console.log(arrBookItem);
			    		    	// addBascket(arrBookItem);
			    		    }
			    		    else
			    		    {
			    		    	console.log(vRow);
				    		    var data = hotBookSch.getDataAtRow(vRow);
			    				
				    		    if(data.length>0)
			    				{
				    		    	hot.setDataAtCell(tRow,0,'0');
					    		    hot.setDataAtCell(tRow,1,data[1]);
					    		    hot.setDataAtCell(tRow,2,data[2]);
					    		    hot.setDataAtCell(tRow,3,data[3]);
					    		    hot.setDataAtCell(tRow,4,data[4]);
					    		    hot.setDataAtCell(tRow,5,data[5]);
					    		    hot.setDataAtCell(tRow,6,data[6]);
					    		    hot.setDataAtCell(tRow,7,1);
					    		  
					    		    hot.alter('insert_row', tRow+1, 1);
					    		    hot.selectCell(tRow,7);
					    		    
					    		    $('#exampleModal').modal('toggle');
					    		    event.stopPropagation();
			    				}
				       		
			    		 }
			    			//event.preventDefault();
		    			
		    		}
			    	else if(event.keyCode == 32)
		    		{
		    			console.log(event.keyCode);
		    			var chkdata = hotBookSch.getDataAtCell(vRow,0);
		    			
		    			if(chkdata == 0)
		    				hotBookSch.setDataAtCell(vRow, 0, 1);
		    			else
		    				hotBookSch.setDataAtCell(vRow, 0, 0);
		    		}
		     }
		 };	
		

var hotBookSch;

$('#exampleModal').on('hidden.bs.modal', function () {
	hot.selectCell(fRow, fCol);
	
});
$('#exampleModal').on('hide.bs.modal', function () {
	
	hotBookSch.destroy();
});

$('#exampleModal').on('shown.bs.modal', function () {
	hotBookSch = new Handsontable(divBookSch,datahot);
	
	loadDataBookSch();
});

$("input[name=inputBookTitle]").keydown(function(event) {
	 
	  console.log(event.keyCode);
    if(event.keyCode == 13){//키가 13이면 실행 (엔터는 13)
    	loadDataBookSch();
        return false;
   }
   return true;
  
});
//팝업 도서 목록 가져오기
function loadDataBookSch() {
	
	var schBookTitle = $("input[name=inputBookTitle]").val();
	var schBarCode = $("input[name=txtBarcode]").val();
	
	var bookVO = {bookTitle:schBookTitle,barcode:schBarCode};
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	console.log(bookVO);
	
    $.ajax({
        url: '/bookOrder/schBooks',
        type: 'post',
        datatype:'json',
        data:bookVO,
        async: true,
         beforeSend: function( xhr ) {
        	  xhr.setRequestHeader(header, token);
        	},
        success: function(res) {
        
        	console.log(res);
        	if(res.length > 0)
        	{
        		//hotBookSch.destroy();
        		//hotBookSch = new Handsontable(divBookSch,datahot);
        		hotBookSch.loadData(res);
            	hotBookSch.selectCell(0,0);
        	}
        	else
        	{
        		//hotBookSch.destroy();
    		    //hotBookSch = new Handsontable(divBookSch,datahot);
    		     
    		     //hotBookSch.loadData(res);
    		     hotBookSch.updateSettings({
				    data : []
				});
    		     $('input[name=inputBookTitle]').focus();
        		 //alert("없다");
    		     //$('input[name=txtBarcode]').focus();
        		// $('input[name=txtBarcode]').mousedown();
        		
        		 //$('input[name=txtBookTitle]').val('');
        		
        		 
        	}
        }
    });
}

$("#searchBtn").click(function(e){
	
	loadDataBookSch();
});	

function addBascket(arrBookItem)
{
	var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
	console.log(arrBookItem);
    $.ajax({
	        url: '/bookOrder/saveBasket',
	        type: 'post',
	        contentType : "application/json; charset=UTF-8",
	        data:JSON.stringify({listBascket: arrBookItem}),
	        async: true,
	         beforeSend: function( xhr ) {
	        	  xhr.setRequestHeader(header, token);
	        	},
	        success: function(res) {
	        	
	        }
	    });
}
</script>
 </th:block>
   
</body>

</html>