<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout/layout_publisher_basic}">

<head>
    <title>관리용</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <style type="text/css">
		input.htCheckboxRendererInput{ margin: 3; }
		input.form-control-sm{ font-size:12px;}
		select.form-control-sm{ font-size:12px;}
		
		label.col-form-label-sm{font-size:12px;}
		.form-group {
   			 margin-bottom: 0.5rem;}
	</style>
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    
</head>

<body>

 <section layout:fragment="content">
 


 <div class="container">
		
	 <div class="row p-2" >
				     
						   <div class="form-group  col-md-12 col-lg-3  px-0 mx-1">
					       		<input type="text" autocomplete="off" class="form-control form-control-sm px-lg-0 mx-lg-0" id="inputBookTitle" name="inputBookTitle"  placeHolder="도서명"  />
				           </div>
					  	   <div class="form-group  col-md-12 col-lg-2  px-0 mx-1">
					       		<input type="text" autocomplete="off" class="form-control form-control-sm px-lg-0 mx-lg-0" id="txtBarcode" name="txtBarcode" placeHolder="ISBN" />
				           </div>
				          
				          <label class="col-md-12 col-lg-auto col-form-label col-form-label-sm px-lg-0 mx-lg-0" for="txtStartPubdate">출간일 &nbsp;&nbsp;</label>
				        
				           <div class="form-group col-md-12  col-lg-2 pr-1 pl-0 mx-0">
					       		<input type="date" autocomplete="off" class="form-control form-control-sm px-lg-0 mx-lg-0" id="txtStartPubdate" name="txtStartPubdate" placeHolder="출간일" />
				           </div>
				           <span>~</span>
				           <div class="form-group col-md-12   col-lg-2 px-0 mx-1">
					       		<input type="date" autocomplete="off" class="form-control form-control-sm px-lg-0 mx-lg-0" id="txtEndtPubdate" name="txtEndPubdate" placeHolder="출간일" />
				           </div>
				            <div class="form-group col-md-12   col-lg-1 px-0 mx-1">
				           <select class="form-control form-control-sm" id="qryBookStatus" name="qryBookStatus">
				           							<option value="">전체</option>
												    <option  th:each="state : ${T(com.ediro.domain.BookStatus).values()}"
												            th:value="${state}"
												            th:text="${state.code}">
												    </option>
												</select>
							</div>					
				             <div class="form-group col-md-12  col-lg-1 px-lg-0 mx-lg-0">
				           <button id="searchBtn">search</button>
				           </div>
				           
	</div> 

			
	
		<div class="row justify-content-start">
						 
						  <div class="col-md-12 col-lg-4" style="font-size:12px;">
							<div id="booklist"></div>
						  </div>
						  
						   <div class="col-md-12 col-lg-8">
							
							<!--  이미지 우측 -->
								<div class="form-group row ">
									   
									   <div class="form-group col-md-12 col-lg-3 pr-0 mr-0 mb-0 ">
									  
									  	<img id="bookCover"  src = '../img/img_ready.png' style="width:140px;heigh:100px;" onerror="this.src='../img/img_ready.png';" />
									  
									  </div>
								  
								    <div class="col-md-12 col-lg-9  px-lg-0 mx-lg-0 ">
									    <form class="form-horizontal" id="fileUploadForm" enctype="multipart/form-data">
										    <div class="form-group row justify-content-start">
										       <label class="col-lg-auto col-md-12 col-form-label col-form-label-sm pr-0 mr-0 ml-0" for="barcode">이미지변경   :</label>
											     <div class="col-md-12 col-lg-3 pr-0 mr-0 ml-0">
												       <input type="file" name="imageFile" id="imageFile" />
												 </div>
									  		</div>
									    </form>
								  		<div class="form-group row ">
										    <label class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0" for="barcode">바코드</label>
										    <div class="col-lg-4 col-md-12">
										   		 <input type="text" class="form-control form-control-sm" id="barcode" name="barcode" maxlength="13" required>
										    </div>
									         <label for="bookVerInfo" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0 ">판형</label>
											  <div class="col-lg-3 col-md-12">
										    		<input type="text" class="form-control form-control-sm" id="bookVerInfo" name="bookVerInfo"  >
										     </div>
										     <label for="BookStatus" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0 ">상태</label>
											  <div class="col-lg-3 col-md-12">
										    	<select class="form-control form-control-sm" id="BookStatus" name="BookStatus">
												    <option  th:each="state : ${T(com.ediro.domain.BookStatus).values()}"
												            th:value="${state}"
												            th:text="${state.code}">
												    </option>
												</select>
										     </div>
										      
										</div>
										
										<div class="form-group row  ">
										  <label for="bookTitle" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">도서명</label>
									        <div class="col-lg-11 col-md-12">
										    <input type="text" class="form-control form-control-sm" id="bookTitle" name="bookTitle" required>
										    </div>
										</div>
										
										<div class="form-group row  ">
										 <label  class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0" for="bookSubTitle">부제(시리즈명)</label>
										     <div class="col-lg-10 col-md-12">
										    	<input type="text" class="form-control form-control-sm" id="bookSubTitle" name="bookSubTitle"  >
										    </div>
										</div>
										
										<div class="form-group row" >
										    <label  class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0" for="publisher">출판사</label>
										     <div class="col-lg-5 col-md-12">
										    	<input type="text" class="form-control form-control-sm" id="publisher" name="publisher"  >
										    </div>
											 <label for="author" class="col-lg-auto col-md-12 col-form-label col-form-label-sm  px-lg-0 mx-lg-0 ">저자</label>
											  <div class="col-lg-5 col-md-12">
										    		<input type="text" class="form-control form-control-sm" id="author" name="bookVerInfo"  >
										     </div>
										</div>
										
										<div class="form-group row">
						  
										    <label for="price" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">정가</label>
										    <div class="col-lg-3 col-md-12">
										    	<input type="number" class="form-control form-control-sm" id="price"  name="price"  required>
										  	</div>
										    
										    <label for="dcPercent" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">할인율</label>
										     <div class="col-lg-2 col-md-12">
										    	<input type="number" class="form-control form-control-sm" id="dcPercent" name="dcPercent"  required>
										    </div>
										    
										    <label for="pubDate" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">발행일</label>
										    <div class="col-lg-4 col-md-12">
										    	<input type="date" class="form-control form-control-sm" id="pubDate" name="pubDate"  required>
										    </div>
										</div>
								    </div>
								 
								 
								</div>
						<!--  이미지 우측 -->	
						
					
						
						
						
					   
					   
						<br/>
						<div class="row justify-content-center">
						  
							   <!--   <label for="mid" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">코드</label>
							    <div class="col-lg-2 col-md-12  mx-lg-0">-->
							    	<input type="hidden" class="form-control form-control-sm" id="mid"  name="mid"  required>
							  	<!--  </div> -->
							    
							    <label for="company_name" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">서점명</label>
							     <div class="col-lg-5 col-md-12 mx-lg-0">
							    	<input type="text" class="form-control form-control-sm" id="company_name" name="company_name"  required>
							    </div>
							    
							    <label for="discount_pct" class="col-lg-auto col-md-12 col-form-label col-form-label-sm px-lg-0 mx-lg-0">할인율</label>
							    <div class="col-lg-2 col-md-12  mx-lg-0">
							    	<input type="number" class="form-control form-control-sm" id="discount_pct" name="discount_pct"  required>
							    </div>
							    
							    <div class="col-lg-auto	 col-md-12  mx-lg-0 px-lg-0">
							     	<button type="button" id="btnAddCusDiscPct" class="btn btn-success btn-sm"> 추가</button>
							     </div>
							 
							     <div class="col-lg-auto col-md-12">
							     	<button type="button" id="btnDelCusDiscPct" class="btn btn-success btn-sm"> 할인율 삭제</button>
								</div>
							     
						</div>
						
						<p/>
						<div class = "row justify-content-center">
						  <div class="col-lg-12 col-md-12" style="font-size:12px;">
						  	<div id="memBookDisCntlist"></div>
						  </div>
						</div>
						<div class="row justify-content-center">
							<div class="col-2  ">
							<button id="save"> 도 서 저 장  </button> 
							</div>
							<div class="col-2">
							<button id="delete"> 도  서 삭   제 </button>
							</div>
							
							
							
						</div>
				</div>
	    </div>
	 
		<!-- popup -->
		<div id="divPopupCus"> </div>
	</div>
	
	<br/>
</section>

  
	<th:block layout:fragment="script">
	   
	    <script th:src="@{/javascript/popCustomer.js}"></script>
	 
		<script th:inline="javascript">
		var cur_book_code;
		var cur_book_row;
		var cur_discnt_mid;
		
		var valObj ={
				divId:"divPopupCus",
				aftCusSel:function(data){
					console.log(data);
					$("#mid").val(data[1]);
					$("#company_name").val(data[2]);
				}
		}
		var popCus = new ediro.popup.PopCustomer(valObj);
		 
		$("#btnAddCusDiscPct").click(function(e){
			var mid,discountPct;
			var boolCusExist;
			
			
			mid = $("#mid").val();
			discountPct = $("#discount_pct").val();
			
			if(mid =="")
				{
					alert("추가할 서점을 선택해 주세요");
					$("#company_name").focus();
					return;
				}
			
			if(cur_book_code == undefined)
			{
				alert("추가할 도서을 선택해 주세요");
				$("#mid").focus();
				return;
			}
			
			if(discountPct == "")
			{
				alert("할인율을 지정해 주세요.");
				$("#discount_pct").focus();
				return;
			}
			
			boolCusExist = isExistCusDiscount(cur_book_code,mid).then(function(response){
				if(response == true){
					alert("이미 할인율이 지정된 서점입니다.");
				return;
				}else{
					addCusDiscount(cur_book_code,mid,discountPct).then(function(response){
						alert("추가되었습니다.");
						
						$("#mid").val("");
						$("#discount_pct").val("");
						$("#company_name").val("");
						
						getMemBookDisCnt(cur_book_code);
					})
				}
			});
			
			
			
		
		
		});
		
		
		$("#btnDelCusDiscPct").click(function(e){
		
			
			if(cur_discnt_mid == undefined)
			{
				alert("삭제할 서점 할인율을 선택해 주세요");
				return;
			}
			
			if(cur_book_code == undefined)
			{
				alert("삭제할 도서를 선택해 주세요");
				return;
			}
			
			delCusDiscount(cur_book_code,cur_discnt_mid).then(function(response){
				alert("삭제되었습니다.");
				getMemBookDisCnt(cur_book_code);
			});
		
		});
		
		/*$("input:text").on("keyup", function() {
		    $(this).val(addCommas($(this).val().replace(/[^0-9]/g,"")));
		});*/
		
		 $("#company_name").keypress(function (e) {
		        if (e.which == 13){
		        	popCus.showModal($("#company_name").val());
		        }
		 });
		 
		 $("#company_name").dblclick(function (e) {
		       
		        	popCus.showModal();
		       
		 });
		<!-- 도서 조회 클릭 이벤트 -->
		$("#searchBtn").click(function(e){
			
			loadDataBookSch(0);
		});	
		<!-- 도서 조회 클릭 이벤트 -->
		
		<!---  그리드 선언 -->
		var vCol=0,vRow=0;
		var hot = new Handsontable(booklist,{
				  licenseKey: 'non-commercial-and-evaluation',
				  height:600,
				  width:"100%",
				  rowHeaders: true,
				  colHeaders: true,
				  colHeaders: ['bookCode', '바코드', '도서명'],
				  startRows: 1,
				  startCols: 3,
				  fillHandle:false,
				  currentRowClassName: 'currentRow',
				  manualColumnResize: true,
				  outsideClickDeselects:false,
				  selectionMode: 'single',
				  columnSorting: true,
				  afterSelection: function (row, column, row2, column2, preventScrolling, selectionLayerLevel){
					  var m = this.getDataAtCell(row,0)
					 // console.log(m);
					  cur_book_code = m;
					  getBookByBookCode(m);
					 
					  getMemBookDisCnt(m);
					  
					  preventScrolling.value = true;
					  
					  cur_book_row = hot.toPhysicalRow(row);
					  },
				  columns: [
					 			{data: 'bookCode',readOnly:true},
					 			{data: 'barcode',readOnly:true},
							    {data: 'bookTitle',readOnly:true}
							   
					   		],
					   	 colWidths: [100,100,200],
					   	 wordWrap:false,
				hiddenColumns: {
				    columns: [0],
				    indicators: true
				  }
					
				 	
				 });
	
		<!---  그리드 선언 -->
		
		<!---  서점 할인율  그리드 -->
		var hotDisCnt = new Handsontable(memBookDisCntlist,{
				  licenseKey: 'non-commercial-and-evaluation',
				  height:200,
				  width:"100%",
				  rowHeaders: true,
				  colHeaders: true,
				  colHeaders: ['코드','*','고객명','대표자명','주소' ,'할인율'],
				  startRows: 0,
				  startCols: 4,
				  fillHandle:false,
				  columnSorting: true,
				  currentRowClassName: 'currentRow',
				  manualColumnResize: true,
				  outsideClickDeselects:false,
				  selectionMode: 'single',
				  columns: [
					 			{data: 'mid',readOnly:true},
					 			{data: 'alt',readOnly:true},
					 			{data: 'companyName',readOnly:true},
							    {data: 'bossName',readOnly:true},
							    {data: 'address',readOnly:true},
							    {data: 'discountPct'}
							    
							   
					   		],
					   	 colWidths: [0,10,180,100,300,50],
					   	 wordWrap:false,
				hiddenColumns: {
				    columns: [0],
				    indicators: true
				  },
				  afterChange: function (changes){
					  if(changes)
						  {
							    changes.forEach(([row, prop, oldValue, newValue]) => {
							    if(prop =="alt")
							    	return;
							    hotDisCnt.setDataAtCell(row, 1, "*");
							    // console.log(row);
							    });
						  }
				  }
				  ,afterSelection: function (row, column, row2, column2, preventScrolling, selectionLayerLevel){
					 
					  var __mid = this.getDataAtCell(row,0)
						 // console.log(__mid);
						  cur_discnt_mid = __mid;
					  }
				 	
				 });
	
		<!--- 서점 할인율 그리드 -->
		
		<!---  도서리스트 조회  -->
		function loadDataBookSch(frow) {
			
			var schBookTitle = $("input[name=inputBookTitle]").val();
			var schBarCode = $("input[name=txtBarcode]").val();
			
			var schStartPubdate = $("input[name=txtStartPubdate]").val();
			var schEndPubdate = $("input[name=txtEndPubdate]").val();
			
			var bookSt = $("#qryBookStatus").val();
			
			var bookVO = {bookTitle:schBookTitle,barcode:schBarCode,startPubdate:schStartPubdate,endPubdate:schEndPubdate,bookstatus:bookSt};
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			console.log(bookVO);
			
		    $.ajax({
		        url: '/bookOrder/schBooks',
		        type: 'get',
		        datatype:'json',
		        data:bookVO,
		         beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        
		        	},
		        success: function(res) {
		        
		        	console.log(res);
		        	if(res.length > 0)
		        	{
		        		//hotBookSch.destroy();
		        		//hotBookSch = new Handsontable(divBookSch,datahot);
		        		//try
		        		//{
		        		hot.loadData(res);
		        		//}
		        		//catch
		        		//{
		        		//	  window.location.reload();
		        		//	  return;
		        		//}
		        		hot.selectCell(frow,0);
		        		
		        	}
		        	else
		        	{
		        		
		    		     hot.updateSettings({
						    data : []
						});
		    		     $('input[name=inputBookTitle]').focus();
		        		
		        		 
		        	}
		        },
		        error : function(request, status, error ) {   // 오류가 발생했을 때 호출된다. 
					console.log(request.status);
					 if (request.status === 403) { // HTTP Status 403: Unauthorized
		        	      window.location.reload();
		        	    } else {
		        	      alert('서버오류');
		        	    }


	        	}
		    });
		}
		
		<!---  도서리스트 조회  -->
		
		<!---  도서상세조회  -->
		function getBookByBookCode(book_code) {
		    $.ajax({
		        url: '/data/book/getBook?book_code='+book_code,
		        type: 'get',
		        datatype:'json',
		         beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	
		        	},
		        success: function(res) {
		        
		        	console.log(res);
		        	$("#bookTitle").val(res.bookTitle);
		        	$("#barcode").val(res.barcode);
		        	
		        	$("#bookVerInfo").val(res.bookVerInfo);
		            $("#bookSubTitle").val(res.bookSubTitle);
		            $("#publisher").val(res.publisher);
		            $("#author").val(res.author);
		            $("#publisher").val(res.publisher);
		         
		            $("#price").val(res.price);
		            $("#dcPercent").val(res.dcPercent);
		            
		            
		        	$("#pubDate").val(res.pubDate.replace(/\./gi,"-"));
		        	
		        	$("#BookStatus").val(res.bookstatus);
		        	let imgurl = "/bookImages/"+ res.barcode +".jpg?rnd="+Math.random(); 
		        	//console.log(imgurl);
		        	$("#bookCover").attr("src", imgurl);
		        },
		        error : function(request, status, error ) {   // 오류가 발생했을 때 호출된다. 
						console.log(request);
		        	 if (request.status === 403) { // HTTP Status 401: Unauthorized
		        	      window.location.reload();
		        	    } else {
		        	     console.log('error');
		        	    }

						return;
		        	}

		    });
		}
		
		<!---  도서상세조회  -->
		
		<!---  서점별할인율 조회  -->
		function getMemBookDisCnt(book_code) {
			
		
			
		    $.ajax({
		        url: '/data/book/getMemBookDiscnt?book_code='+book_code,
		        type: 'get',
		        datatype:'json',
		         beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        
		        	//console.log(res);
			       // try
			        //{
			        	hotDisCnt.loadData(res);
			       // }
	        		//catch
	        		//{
	        		//	  window.location.reload();
	        		//	  return;
	        		//}
		        }
		    });
		}
		
		<!--- 서점별할인율 조회  -->
		
		<!--- 이미지 변경 클릭  -->
		 $('#imageFile').on('change', function() {
		        
		        ext = $(this).val().split('.').pop().toLowerCase(); //확장자
		        
		        //배열에 추출한 확장자가 존재하는지 체크
		        if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
		            resetFormElement($(this)); //폼 초기화
		            window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
		        } else {
		        	updateBookCover();
		        }
		    });
		
		 /** 
		     * 폼요소 초기화 
		     * Reset form element
		     * 
		     * @param e jQuery object
		     */
		     function resetFormElement(e) {
		         e.wrap('<form>').closest('form').get(0).reset(); 
		         //리셋하려는 폼양식 요소를 폼(<form>) 으로 감싸고 (wrap()) , 
		         //요소를 감싸고 있는 가장 가까운 폼( closest('form')) 에서 Dom요소를 반환받고 ( get(0) ),
		         //DOM에서 제공하는 초기화 메서드 reset()을 호출
		         e.unwrap(); //감싼 <form> 태그를 제거
		     }
		 <!--- 이미지 변경 클릭  -->    
		 
		 <!---  도서이미지 업로드  -->
				function updateBookCover() {
					console.log("asdf");
					var barcode = $("input[name=barcode]").val();
					  var imagefile = $("#imageFile")[0].files[0];
				
					    var data = new FormData();
						data.append("imageFile",imagefile);	
					    data.append("barcode",barcode);
					    console.log("data:" + data);
					
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					
				    $.ajax({
				        url: '/publisher/updateBookCover',
				        enctype: 'multipart/form-data',
				        type: 'post',
				        data:data,
				        contentType: false,
				        processData: false,
				         beforeSend: function( xhr ) {
				        	  xhr.setRequestHeader(header, token);
				        	},
				        success: function(res) {
				        	let imgurl = "/bookImages/"+ barcode +".jpg?rnd="+Math.random(); 
				        	//console.log(imgurl);
				        	setTimeout(function() {
				        		$("#bookCover").attr("src", imgurl);
							}, 1000);
				        
				        	console.log(res);
				        },
				        error : function(request, status, error ) {   // 오류가 발생했을 때 호출된다. 
							console.log(request);
			        	 if (request.status === 405) { // HTTP Status 401: Unauthorized
			        	      window.location.reload();
			        	    } else {
			        	     console.log('error');
			        	    }

							return;
			        	}
				    });
				}
				
		<!---  도서이미지 업로드  -->
		
		<!---  서점별할인율 존재확인  -->
		function isExistCusDiscount(book_code,mid) {
			return new Promise(function(resolve,reject){
		 
		    $.ajax({
		        url: '/data/book/existMemBook?book_code='+book_code+'&mid='+mid,
		        type: 'get',
		        datatype:'json',
		        beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        	resolve(res);
		         },
		         error : function(request, status, error ) {   // 오류가 발생했을 때 호출된다. 
							reject(request.status);
		        		}
		    });
		   
			});
		}
		
		<!--- 서점별할인율 존재확인  -->
			
		<!---  서점별할인율 추가  -->
		function addCusDiscount(book_code,mid,disPct) {
			
		 return new Promise(function(resolve,reject){
		   $.ajax({
		        url: '/data/book/addMemBook?book_code='+book_code+'&mid='+mid+'&disPct='+disPct,
		        type: 'get',
		        datatype:'json',
		        beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        
		           resolve("success");
		      
		        },
		        error:function(request, status, error)
		        {
		        	reject(request.status);
		        }
		    });
		  
		 });
		}
		
		<!--- 서점별할인율 추가  -->
		
		<!---  서점별할인율 삭제  -->
		function delCusDiscount(book_code,mid) {
		 return new Promise(function(resolve,reject){
		   $.ajax({
		        url: '/data/book/DelMemBookDiscnt?book_code='+book_code+'&mid='+mid,
		        type: 'get',
		        datatype:'json',
		        beforeSend: function( xhr ) {
		        	  xhr.setRequestHeader(header, token);
		        	},
		        success: function(res) {
		        
		           resolve("success");
		      
		        },
		        error:function(request, status, error)
		        {
		        	reject(request.status);
		        }
		    });
		  
		 });
		}
		
		<!--- 서점별할인율 삭제  -->
		
		<!--- 도서 변경 저장  -->
		$("#save").click(function(e){

			var book ={
					bookCode:cur_book_code,
					bookTitle:$("#bookTitle").val(),
					barcode:$("#barcode").val(),
		        	
					bookVerInfo: $("#bookVerInfo").val(),
					bookSubTitle:$("#bookSubTitle").val(),
					publisher:$("#publisher").val(),
					author:$("#author").val(),
					
		         
					price:$("#price").val(),
					dcPercent:$("#dcPercent").val(),
					pubDate:$("#pubDate").val(),
					bookstatus:$("#BookStatus").val()
			}
			
		   if(book.bookTitle == "")
			   {
			   		alert("도서명을 입력해 주세요");
			   		$("#bookTitle").focus();
			   		return;
			   }
			
			 if(book.barcode == "")
			   {
			   		alert("바코드를 입력해 주세요");
			   		$("#barcode").focus();
			   		return;
			   }
			 
			 if(book.publisher == "")
			   {
			   		alert("출판사명을 입력해 주세요");
			   		$("#publisher").focus();
			   		return;
			   }
			 
			 if(book.author == "")
			   {
			   		alert("저자를 입력해 주세요");
			   		$("#author").focus();
			   		return;
			   }
			 
			 if(book.price == "")
			   {
			   		alert("정가를 입력해 주세요");
			   		$("#price").focus();
			   		return;
			   }
			 
			 if(book.dcPercent == "")
			   {
			   		alert("할인율을 입력해 주세요");
			   		$("#dcPercent").focus();
			   		return;
			   }
			 
			 if(book.pubDate == "")
			   {
			   		alert("발행일을 입력해 주세요");
			   		$("#pubDate").focus();
			   		return;
			   }
			 
			$.ajax({
			  	  url:'/data/book/updBook',
			  	  type:'POST',
			      contentType : "application/json; charset=UTF-8",
			      dataType:"text",
			      data:JSON.stringify(book),
			      beforeSend: function(xhr) {
	                  xhr.setRequestHeader(header, token);
	              },
			      success:function (data) {
			    	saveDiscount();
			      },
			      error:function(request,status,error){
			            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			        }
		  });
			
			
			
		});
		<!--- 도서 변경 저장  -->
		<!--- 서점별할인율 변경 저장  -->
		function saveDiscount()
		{
			
			 var dataSrc = hotDisCnt.getSourceData();
			 // console.log(dataSrc);
			 dataSrc.forEach(function(element,index){
				 if(element.discountPct == "")
					 {
					 	alert('할인율 입력해 주세요');
					   hot.selectCell(index,5);
					   return;
					 }
			 })
			 
			 if(cur_book_code == undefined)
			{
				alert("추가할 도서을 선택해 주세요");
				$("#mid").focus();
				return;
			}
			 
			  var updDataSrc = dataSrc.filter(function(data){return data.alt == '*';});
			  if(updDataSrc.length ==0)
				  {
				  		alert("수정되었습니다.");
				  		return;
				  }
			 // console.log(updDataSrc);
			 // return;
			 //console.log({data:hot.getSourceData()}.filter(data => data.bookCode > 20));
			  $.ajax({
				  	  url:'/data/book/saveMemBookDiscnt?book_code='+cur_book_code,
				  	  type:'POST',
				      contentType : "application/json; charset=UTF-8",
				      dataType:"text",
				      data:JSON.stringify({data: updDataSrc}),
				      beforeSend: function(xhr) {
		                  xhr.setRequestHeader(header, token);
		              },
				      success:function (data) {
				    	alert("수정되었습니다.");
				    	var htRCnt = hotDisCnt.countRows();
				    	for(var i=0;i<htRCnt;i++)
				    	{
				    		if(hotDisCnt.getDataAtCell(i,1) == "*")
				    			hotDisCnt.setDataAtCell(i, 1, "");
				    	}
				      },
				      error:function(request,status,error){
				            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				        }
			  });
		}
		<!--- 서점별할인율 변경 저장  -->
		
		<!-- 도서 삭제 클릭 이벤트 -->
		$("#delete").click(function(e){
			if(!confirm("선택도서를 삭제하시겠습니까?"))
				return;
			
			var book ={
					bookCode:cur_book_code,
					
					delYN:"Y"
			};
			
			$.ajax({
			  	  url:'/data/book/delBook',
			  	  type:'POST',
			      contentType : "application/json; charset=UTF-8",
			      dataType:"text",
			      data:JSON.stringify(book),
			      beforeSend: function(xhr) {
	                  xhr.setRequestHeader(header, token);
	              },
			      success:function (data) {
			        alert("삭제되었습니다");
			        loadDataBookSch(cur_book_row);
			      },
			      error:function(request,status,error){
			            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			        }
				});	
			
			
		});
		<!--  도서 삭제  클릭 이벤트 -->
		</script>
	</th:block>



 
   
</body>

</html>