<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout/layout_publisher_basic}">

<head>
    <title>관리용</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     </head>

<body>
 <section layout:fragment="content">
	
<div>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
	  </li>
	</ul>
	
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	  <br/>
		<button onclick="javascript:loadData();">load</button>
	    <button id="save">save</button>
	  	<br/>
	    <br/>
	  <div class="small-12 medium-9 columns" >
	    <pre id="example1console" class="console">Click "Load" to load data from server</pre>
			
			 <form id='f1' th:action="@{main}" method="get" autocomplete="off">
					<div class="row justify-content-start" >
						   <div class="form-group col-md-2">
							    <label for="barcode">ISBN(ISSN)</label>
							    <input type="text" class="form-control form-control-sm" id="barcode" name="barcode" maxlength="13" th:value=${book.barcode}>
					       </div>
					  	  <div class="form-group col-md-6">
							    <label for="bookTitle">도서명</label>
							    <input type="text" class="form-control form-control-sm" id="bookTitle" name="bookTitle" th:value=${book.bookTitle} >
						  </div>
						   <button id="searchBtn">search</button>
					</div>
					<input type='hidden' name='page' th:value=${result.currentPageNum}>
					<input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
				<!--  	<input type='hidden' name='type' th:value=${pageVO.type}>
					<input type='hidden' name='keyword' th:value=${pageVO.keyword}> -->
		  	 </form>
			
			<div style = "width:100%;height:600px;overflow:hidden;">
				<div id="example"></div>
			</div>
			
			<nav>
				<div>
	
					<ul class="pagination">
						<li class="page-item" th:if="${result.prevPage}"><a class="page-link"
							th:href="${result.prevPage.pageNumber} + 1">PREV
								[[${result.prevPage.pageNumber} + 1]]</a></li>
	
						<li class="page-item"
							th:classappend="${p.pageNumber == result.currentPageNum -1}?active: '' "
							th:each="p:${result.pageList}"><a class="page-link"
							th:href="${p.pageNumber} +1">[[${p.pageNumber} +1]]</a></li>
	
						<li class="page-item" th:if="${result.nextPage}"><a class="page-link"
							th:href="${result.nextPage.pageNumber} + 1">NEXT
								[[${result.nextPage.pageNumber} + 1]]</a></li>
					 </ul>
				</div>
			</nav>
	  </div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		  
	  
	  </div>
	 </div>
	
	
		
</div>	
		  <!-- Modal -->
			<div class="modal" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
	       </div>	
	      
</section>


<th:block layout:fragment="script">
<script th:inline="javascript">

var hot = new Handsontable(example, {
	  rowHeaders: true,
	  colHeaders: true,
	  colHeaders: ['코드', '도서명', '바코드', '저자','출판사','정가','발행일','변경'],
	  startRows: 1,
	  startCols: 6,
	  width: '100%',
	  wordWrap:false,
	  manualColumnResize: true,
	  columnSorting: true,
	  outsideClickDeselects:false,
	  currentRowClassName: 'currentRow',
	  columns: [
				    {data: 'bookCode', readOnly: true},
				    {data: 'bookTitle'},
				    {data: 'barcode'},
				    {data: 'author'},
				    {data: 'publisher'},
				    {data: 'price', type: 'numeric',numericFormat:{pattern: '0,0'}},
				    {data: 'pubDate', type: 'date',dateFormat: 'YYYY-MM-DD'},
				    {data: 'chk' ,type: 'checkbox',checkedTemplate: '1',uncheckedTemplate: '0', readOnly: true}
		   		],
	colWidths: [100, 500, 130, 200, 100, 80, 100,45],
	 rowHeights: 23,
	  data: JSON.parse(JSON.stringify([[${result.listcontent.content}]])),
	  fillHandle:false,
	  allowInsertRow:false,
	    allowManualInsertRow:false,
	    allowInsertColumn:false,
	    allowManualInsertColumn:false,
	  afterChange: function (changes){
		  if(changes)
			  {
				    changes.forEach(([row, prop, oldValue, newValue]) => {
				    if(prop =="chk")
				    	return;
				     hot.setDataAtCell(row, 7, 1);
				     console.log(row);
				    });
			  }
	  }
	 });
	 
function loadData() {
	
	$('#exampleModal').modal('show');
    
	$.ajax({
        url: '/bookOrder/booklist',
        type: 'get',
        dataType: 'json',
        async: true,
        success:function(res){
        	hot.loadData(res);
        },
        error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
     	,
     	complete : function(data) {
		setTimeout(function(){$('#exampleModal').modal('hide');
		        	}
		        	,1000);
   		}

    });
};

Handsontable.dom.addEvent(save, 'click', function() {
	  // save all cell's data
	  //console.log(JSON.stringify({data: hot.getSourceData()}));
	  var dataSrc = hot.getSourceData();
	  var updDataSrc = dataSrc.filter(function(data){return data.chk == 1;});
	  if(updDataSrc.length ==0)
		  return;
	  //console.log(updDataSrc);
	  
	 //console.log({data:hot.getSourceData()}.filter(data => data.bookCode > 20));
	  $.ajax({
		  	  url:'/publisher/updBooks',
		  	  type:'POST',
		      contentType : "application/json; charset=UTF-8",
		      dataType:"text",
		      data:JSON.stringify({data: updDataSrc}),
		      beforeSend: function(xhr) {
                  xhr.setRequestHeader(header, token);
              },
		      success:function (data) {
		    	alert("수정되었습니다.");
		    	
		    	var htRCnt = hot.countRows();
		    	for(var i=0;i<htRCnt;i++)
		    	{
		    		if(hot.getDataAtCell(i,7) == 1)
		    	   		hot.setDataAtCell(i, 7, 0);
		    	}
		      },
		      error:function(request,status,error){
		            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		        }
	  });
	
});

$('#exampleModal').html('<div class="modal-dialog modal-dialog-centered" role="document"> \
		  <div class="modal-content"> \
			<div class="modal-header"> \
	        <h5 class="modal-title" id="exampleModalLabel">ediro</h5> \
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
	          <span aria-hidden="true">&times;</span> \
	        </button> \
		      </div> \
		      <div class="modal-body"> \
		       처리중... \
		      </div> \
		      <div class="modal-footer"> \
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> \
		      </div> \
		    </div> \
		  </div> \
		</div>');
	
		var formObj = $("#f1");
		
		$(".pagination a").click(function(e) {
		
			e.preventDefault();
		
			formObj.find('[name="page"]').val($(this).attr('href'));
		
			formObj.submit();
		});
		
		$(".boardLink").click(function(e){
			
			e.preventDefault(); 
			
			var boardNo = $(this).attr("href");
			
			formObj.attr("action",[[@{'/boards/view'}]]);
			formObj.append("<input type='hidden' name='bno' value='" + boardNo +"'>" );
			
			formObj.submit();
			
		});
		
		$("#searchBtn").click(function(e){
			
			var typeStr = $("#searchType").find(":selected").val();
			var keywordStr = $("#searchKeyword").val();
			
			console.log(typeStr, "" , keywordStr);
		
			formObj.find("[name='page']").val("1");
			formObj.submit();
		});	

</script>
</th:block>



 
   
</body>

</html>