<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
  <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" ></script>
    <link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"  />
</head>
<body>




<div class="panel panel-default">
    <div class="panel-body">

        <h2>CUSTOM LOGIN PAGE</h2>

        <div th:if="${param.error != null}">
            <h2>가입하지 않은 아이디이거나, 잘못된 비밀번호입니다</h2>
            <h2 th:value="${param.error}"></h2>
        </div>

        <div th:if="${param.logout != null}">
            <h2>You have been logged out.</h2>
        </div>


        <form method="post">
            <p>
                <label for="username">Username</label> <input type="text"
                                                              id="username" name="username"  />
            </p>
            <br>
            <p>
                <label for="password">Password</label> <input type="password"
                                                              id="password" name="password"  />
            </p>
			<br>
            <p>
                <label for="text">로그인 상태 유지</label> <input type="checkbox"
                                                             id="remember-me" name="remember-me" />
            </p>

            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <button type="submit" class="btn">Log in</button>
        </form>


    </div>
</div>
</body>
</html>